<h1>List : <%= @list.name %></h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: 'type comment about a movie' %>
    <%= f.association :movie, include_blank: false %>
    <%= f.submit %>
<% end %>
